@import "tailwindcss";



@font-face {
  font-family: outfit;
  src: url(../public/font/dd76e46248812453-s.p.ttf);
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: outfit;
  src: url(../public/font/4cfff1248df990a8-s.p.ttf);
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: outfit;
  src: url(../public/font/faa1bff682c4eb20-s.p.ttf);
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: outfit;
  src: url(../public/font/4d44633bfcd5f030-s.p.ttf);
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: outfit Fallback;
  src: local("Arial");
  ascent-override: 99.94%;
  descent-override: 25.98%;
  line-gap-override: 0.00%;
  size-adjust: 100.06%
}

.__className_c1f646 {
  font-family: outfit, outfit Fallback
}

.__variable_c1f646 {
  --font-outfit: "outfit", "outfit Fallback"
}

@font-face {
  font-family: agile;
  src: url(../public/font/15ebcde848118439-s.p.ttf) format("truetype");
  font-display: swap
}

@font-face {
  font-family: agile Fallback;
  src: local("Arial");
  ascent-override: 72.71%;
  descent-override: 33.48%;
  line-gap-override: 0.00%;
  size-adjust: 104.26%
}

.__className_a0cab8 {
  font-family: agile, agile Fallback
}

.__variable_a0cab8 {
  --font-agile: "agile", "agile Fallback"
}


* {
  scrollbar-width: thin;
  scrollbar-color: hsl(217, 91%, 60%) black;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;

    --card: 0 0% 97%;
    --card-foreground: 0 0% 10%;

    --primary: 217 91% 60%;
    /* BLUE */
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 10%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 42%;

    --accent: 217 91% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 217 91% 60%;

    --radius: 0.5rem;
  }

  /* DEFAULT THEME = DARK */
  html {
    background-color: hsl(0 0% 4%);
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 96%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 96%;

    --primary: 217 91% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 16%;
    --secondary-foreground: 0 0% 96%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 64%;

    --accent: 217 91% 65%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 217 91% 65%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(--font-outfit);
  }
}

